@model Conference.ConferenceInfo

@{
    ViewBag.Title = "Details";
}

<p style="text-align: right">
    @Html.DisplayFor(model => model.OwnerName)
</p>

@{ Html.RenderPartial("Navigation"); }

<h2>Details</h2>

<fieldset>
    <legend>Owner Information</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.OwnerName)
    </div>
    <div class="display-label">
        @Html.DisplayFor(model => model.OwnerName)
    </div>        

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OwnerEmail)
    </div>
    <div class="display-label">
        @Html.DisplayFor(model => model.OwnerEmail)
    </div>
</fieldset>

<fieldset>
    <legend>Conference Information</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Slug)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Slug)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPublished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPublished)
    </div>
</fieldset>

@if (Model.IsPublished) {
    using (Html.BeginForm("Unpublish", "Conference")) {
    <div>
        @Html.HiddenFor(model => model.Id)
        @Html.ActionLink("Edit", "Edit", new { id = @Model.Id }, null) |
        <a href="javascript:$('form').submit();">Unpublish</a>
    </div>
    }
} else {
    using (Html.BeginForm("Publish", "Conference")) {
    <div>
        @Html.HiddenFor(model => model.Id)
        @Html.ActionLink("Edit", "Edit", new { id = @Model.Id }, null) |
        <a href="javascript:$('form').submit();">Publish</a>
    </div>
    }
}    
