@model Conference.ConferenceInfo

@{
    ViewBag.Title = "My Conference";
    ViewBag.PageType = "page_create-conf";
}

@section Navigation
{
    <div class="quick__login">@Model.OwnerName</div>
}

@section PageNavigation {
    @Html.Partial("Navigation")
}

<h1 class="page__head page__wrapper page_create-conf">
    Conference details
</h1>
<div class="page__content">
    <div class="page__wrapper content-main_create-conf">
            <div class="content-main__wrapper">
                <div class="content-main__main">
                    <div class="content-main__header">Owner information</div>
                    <fieldset class="content">
                        <div class="form__fieldset">
                            <label>Name:</label>
                            <div class="form__field">
                                <pre>@Model.OwnerName</pre>
                            </div>
                        </div>    
                        <div class="form__fieldset">
                            <label>Email address:</label>
                            <div class="form__field">
                                <pre>@Model.OwnerEmail</pre>
                            </div>
                        </div>
                        <div class="form__fieldset">
                            <label>Access Code:</label>
                            <div class="form__field">
                                <pre>@Model.AccessCode</pre>
                            </div>
                        </div>   
                        <div class="g-clear"></div>
                    </fieldset>
                    
                    <div class="content-main__header">Conference information</div>
                    <fieldset class="content">
                        <div class="form">
                            <div class="form__fieldset">
                                <label>Title:</label>
                                <div class="form__field">
                                    <pre>@Model.Name</pre>
                                </div>
                            </div>
                            <div class="form__fieldset">
                                <label>Tagline:</label>
                                <div class="form__field">
                                    <pre>@Model.Tagline</pre>
                                </div>
                            </div>
                            <div class="form__fieldset">
                                <label>Slug/conference code:</label>
                                <div class="form__field">
                                    <pre>@Model.Slug</pre>
                                </div>
                            </div>  
                            <div class="form__fieldset">
                                <label>Location:</label>
                                <div class="form__field">
                                    <pre>@Model.Location</pre>
                                </div>
                            </div>
                            <div class="form__fieldset">
                                <label>Twitter search:</label>
                                <div class="form__field">
                                    <pre>@Model.TwitterSearch</pre>
                                </div>
                            </div>
                            <div class="form__fieldset form__fieldset_textarea">
                                <label>Description:</label>
                                <div class="form__field">
                                    <pre style="height: auto">@Model.Description</pre>
                                </div>
                            </div>
                            <div class="form__fieldset">
                                <label>Start date:</label>
                                <div class="form__field">
                                    <pre>@Model.StartDate.ToString("yyyy/MM/dd")</pre>
                                </div>
                            </div>
                            <div class="form__fieldset">
                                <label>End date:</label>
                                <div class="form__field">
                                    <pre>@Model.EndDate.ToString("yyyy/MM/dd")</pre>
                                </div>
                            </div>
                            <div class="g-clear"></div>
                        </div>
                    </fieldset>
                    <div class="nav content-main__nav">
                        <a class="nav__left" href="@Url.Action("Edit", new { slug = @Model.Slug })">Edit</a>
                        @{ var action = Model.IsPublished ? "Unpublish" : "Publish"; }
                        @using (Html.BeginForm(action, "Conference", new { Model.Id })) {
                            <button type="submit" class="nav__right">@action</button>
                        }
                        <a class="nav__right" style="margin-right: 40px;" href="@Url.Action("Seats", new { slug = ViewBag.Slug })">Configure seats</a>
                    </div>
                </div>
            </div><div class="g-clear"></div>
    </div>
</div>