@model IEnumerable<Conference.Order>
@{
    ViewBag.Title = "Orders & Attendees";
}
<p style="text-align: right">
    @ViewBag.OwnerName
</p>
@{ Html.RenderPartial("OrdersNavigation"); }
<h2>
    Orders & Attendees</h2>
<div id="grid-container">
    <table id="grid">
        <thead>
            <tr>
                <th>
                    <span>@Html.DisplayNameFor(model => model.AccessCode)</span>
                </th>
                <th>
                    <span>@Html.DisplayNameFor(model => model.Status)</span>
                </th>
                <th>
                    <span>@Html.DisplayNameFor(model => model.TotalAmount)</span>
                </th>
                <th>
                    <span>@Html.DisplayNameFor(model => model.RegistrantName)</span>
                </th>
                <th>
                    <span>@Html.DisplayNameFor(model => model.RegistrantEmail)</span>
                </th>
                <th>
                    <span>Attendees</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in this.Model)
            {
             <tr>
                <td>
                    @order.AccessCode
                </td>
                <td>
                    @order.Status
                </td>
                <td>
                    $@order.TotalAmount
                </td>
                <td>
                    @order.RegistrantName
                </td>
                <td>
                    @order.RegistrantEmail
                </td>
                <td>
                    <ul>
                    @foreach (var attendee in order.Seats)
                    {
                        <li>@attendee.SeatInfo.Name: @attendee.Attendee.LastName @attendee.Attendee.FirstName, @attendee.Attendee.Email</li>
                    }
                    </ul>
                </td>
              </tr>
            }
        </tbody>
    </table>
</div>
<style>
    #grid, #grid input, #grid button
    {
        clear: both;
        width: 100%;
    }
    #grid thead
    {
        white-space: nowrap;
    }
    #grid thead a
    {
        text-decoration: none;
    }
</style>
