@model Conference.Web.Public.Models.OrderViewModel
@{
    ViewBag.Title = "Registration for " + ViewBag.Conference.Name;
}
@section Head
{
    <script src="/Scripts/Conference.js" type="text/javascript"></script>
}
<h2>
    Choose Payment</h2>
<div id="countdown">
    <div id="countdown_time" data-targetDate="@DateTimeExtensions.ToEpochMilliseconds(this.ViewBag.ExpirationDateUTC)"/>
    <div id="countdown_warning">
        Complete the registration before the count down expires.</div>
</div>
<div id="tickets">
    <table width="100%">
        <tr>
            <th align="left">
                Seat type
            </th>
            <th align="right">
                Price
            </th>
            <th align="right">
                Quantity
            </th>
            <th align="right">
                Total
            </th>
        </tr>
        @for (var i = 0; i < this.Model.Items.Count; i++)
        { 
            <tr>
                <td align="left">@Html.DisplayFor(model => model.Items[i].SeatTypeDescription)
                </td>
                <td align="right">@Html.DisplayFor(model => model.Items[i].Price)
                </td>
                <td align="right">@Html.DisplayFor(model => model.Items[i].Quantity)
                </td>
                <td align="right">@Html.DisplayFor(model => model.Items[i].Total)
                </td>
            </tr>
        }
        <tr>
            <td colspan="3" align="right">
                Total
            </td>
            <td align="right">@Html.DisplayFor(model => model.Total)
            </td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div>
        <div class="editor-label">
            @Html.LabelForModel("Payment type")
        </div>
        <p>
            <input type="submit" value="Pay" />
        </p>
    </div>
}
<script type="text/javascript">
    
    function reservationTimedOut()
    {
        window.location = '@Url.Action("DisplayOrderStatus", "Registration", new { conferenceCode = this.ViewBag.Conference.Code, orderId = this.Model.Id })';
    }

    $(document).ready(function () {
        Conference.StartTimer('countdown_time', reservationTimedOut);
    });

</script>
