@model Conference.Web.Public.Models.OrderViewModel
@{
    ViewBag.Title = "Registration for " + Model.ConferenceName;
}
<h2>
    Choose seats</h2>
@using (Html.BeginForm("ChoosePayment", "Registration"))
{
    @Html.HiddenFor(model => model.Id)
    <div id="tickets">
        <table width="100%">
            <tr>
                <th align="left">
                    Seat type
                </th>
                <th align="right">
                    Price
                </th>
                <th align="right">
                    Quantity
                </th>
            </tr>
            @for (var i = 0; i < this.Model.Items.Count; i++)
            { 
                <tr>
                    <td align="left">@Html.DisplayFor(model => model.Items[i].SeatTypeDescription)
                    </td>
                    <td align="right">@Html.DisplayFor(model => model.Items[i].Price)
                    </td>
                    <td align="right">@Html.DropDownListFor(model => model.Items[i].Quantity, new SelectList(Enumerable.Range(0, 20)))
                        @Html.HiddenFor(model => model.Items[i].SeatTypeId)
                    </td>
                </tr>
            }
        </table>
        <input id="finish" type="submit" value="Next" />
    </div>
}
